.page-home {
  background-image: url('../images/bg-n95-mask.png');
  background-repeat: no-repeat;
  background-size: 115%;
  @include media-breakpoint-up(sm) {
    background-size: 100%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 100%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 100%;
    background-position: 100% -70px;
  }
}
